@charset "UTF-8";

/* 
	device width distinction - 
	1025px ~ : Desktop layout
	768px ~ , (min-aspect-ratio: 2/1) : "iPhone X", widescreen aspect
	768px ~ 1024xp, (max-aspect-ratio: 2/1) : tablet layout
	~ 767px, (min-aspect-ratio: 1/1) : mobile phone layout, widescreen aspect
	360px ~ 767px, (max-aspect-ratio: 1/1) : mobile phone layout, portrait aspect
	~ (320px) ~ 359px : legendary mobile phone layout
*/


html {
	font-size: 18px; /* 1rem = this size. */
	font-family: 'KoPub Batang', serif;
	line-height: 1.9;
	font-style: normal;
	font-weight: 300;

	position: relative;
	height: 100%;
	/*width: 100vw; */
}

@media all and (min-width:768px) and (min-aspect-ratio: 2/1), /* "iPhone X", widescreen aspect */ 
		all and (max-width:767px) { /* mobile phone */ 
	html {
		font-size: 15px;
	}
}


::-moz-selection { /* Code for Firefox */
	color: #FFFFFF; /*selected text color*/
	background-color: rgba(40, 97, 177, 0.85); /*block color*/
	text-shadow: none;
}
::selection {
	color: #FFFFFF; /*selected text color*/ 
	background-color: rgba(40, 97, 177, 0.85); /*block color*/
	text-shadow: none;
}

body {
	padding: 0;
	margin: 0;
	height: 0;
	/*width: 100vw;*/
}
div, p {
	box-sizing: border-box;
	position: relative;
    word-break: keep-all;

	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

p {
	margin: 0 0 calc(4em / 3) 0;
	padding: 0 0 0 0;
}



/*svg g path {
	mix-blend-mode: multiply;
}
.leaflet-overlay-pane {
	mix-blend-mode: color-burn;
}
.leaflet-shadow-pane {
    mix-blend-mode: color-burn;
}
*/


/* ------------ typo ------------ */

sanSerif {
	font-family: 'Spoqa Han Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	vertical-align: -0.06em;
}
redHighlight {
	/*font-family: 'Spoqa Han Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	vertical-align: -0.06em;*/

	background-color: hsla(0, 100%, 75%, 1.0);
	color: #ffffff;
	padding: 0.2em 0 0.15em 0;

	text-shadow: none;
}
orangeHighlight {
	background: hsla(35, 100%, 80%, 1.0);
    padding: 0.2em 0 0.15em 0;

    text-shadow: none;
}
grayHighlight {
	background-color: #aaaaaa;
	color: #ffffff;
	padding: 0.2em 0 0.15em 0;

	text-shadow: none;
}



.map-title {
	font-family: 'KoPub Batang', serif;
	font-weight: 600;
	font-size: calc( 1em * 10/9 );
	text-align: center;

    background: hsla(35, 100%, 80%, 1.0);
    padding-top: 0.2em;
}

.map-description {
	font-family: 'Spoqa Han Sans', sans-serif;
	font-weight: 300;
	font-size: calc( 1em * 5/6 );
	line-height: 1.8;
}

.municipal-title {
	font-family: 'Spoqa Han Sans', sans-serif;
	font-weight: 600;
	font-size: 1em;
	vertical-align: -0.06em;
	margin-bottom: 0;
}



/* ------------ layout: .chapter ------------ */

.chapter {
	/*margin-bottom: 100vh;*/
	margin-bottom: 0;
	pointer-events: none; /* background에서 hover event가 작동되도록 함. */
}
	.chapter p, .chapter a, .chapter img {
		pointer-events: auto; /* 하지만 p, a, img tag에서는 마우스가 이들과 상호작용해서 작동되도록 함. */
	}


/* ------------ layout: paragraph ------------ */

.blank-page {
	height: 100vh;
}
.blank-halfpage {
	height: 50vh;
}


.transparent-white-box {
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	/*box-shadow: 0 0 10px 2px rgba(0,0,0,0.30);*/
}

.white-box {
	background: #ffffff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	/*box-shadow: 0 0 10px 2px rgba(0,0,0,0.30);*/

	width: 480px;
	padding: 33px 40px 18px 40px;
	/*padding-bottom: calc(40px - 4/3em);*/
}
@media all and (max-width:600px) and (max-aspect-ratio: 1/1) { /* "most of mobile phone" portrait layout */
	.white-box {	
		width: 88%;
		max-width: 525px;
		padding: 33px 24px 18px 24px;
	}
}
.transparent-box {
	background: transparent;
	width: 92%;
	max-width: 525px;
}



.white-box-screenwide {
	padding-top: 6rem;
	background: #ffffff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	/*box-shadow: 0 0 10px 2px rgba(0,0,0,0.30);*/
}
.paragraph-screenwide {
	max-width: 650px;
	padding-left: 10px;
    padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 6rem;
}
.article-graph {
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 2rem;
}


.paragraph-leftBox {
	margin-left: 12%;
}
@media all and (max-width:600px) and (max-aspect-ratio: 1/1) { /* "most of mobile phone" portrait layout */
	.paragraph-leftBox {
		margin-left: 5%;
	}
}

.paragraph-centerBox {
	margin-left: auto;
	margin-right: auto;
}
.paragraph-rightBox {
	margin-left: calc(100% - 15% - 480px);
}

.white-outerLine p, .white-outerLine a {
	text-shadow: 	#ffffff 4px 0px 0px, 
					#ffffff 3.87565px 0.989616px 0px, 
					#ffffff 3.51033px 1.9177px 0px, 
					#ffffff 2.92676px 2.72656px 0px, 
					#ffffff 2.16121px 3.36588px 0px, 
					#ffffff 1.26129px 3.79594px 0px, 
					#ffffff 0.282949px 3.98998px 0px, 
					#ffffff -0.712984px 3.93594px 0px, 
					#ffffff -1.66459px 3.63719px 0px, 
					#ffffff -2.51269px 3.11229px 0px, 
					#ffffff -3.20457px 2.39389px 0px, 
					#ffffff -3.69721px 1.52664px 0px, 
					#ffffff -3.95997px 0.56448px 0px, 
					#ffffff -3.97652px -0.432781px 0px, 
					#ffffff -3.74583px -1.40313px 0px, 
					#ffffff -3.28224px -2.28625px 0px, 
					#ffffff -2.61457px -3.02721px 0px, 
					#ffffff -1.78435px -3.57996px 0px, 
					#ffffff -0.843183px -3.91012px 0px, 
					#ffffff 0.150409px -3.99717px 0px, 
					#ffffff 1.13465px -3.8357px 0px, 
					#ffffff 2.04834px -3.43574px 0px, 
					#ffffff 2.83468px -2.82216px 0px, 
					#ffffff 3.44477px -2.03312px 0px, 
					#ffffff 3.84068px -1.11766px 0px, 
					#ffffff 3.9978px -0.132717px 0px;
}



/* ------------ layout: background opacity, leaflet attributions ------------ */

#background-bounding {
	z-index: -1;
}
div.fixed-background {
	position: fixed;

	left: 0px;
	top: 0px;
	width: 100%; /*100vw;*/
	height: 100%; /*100vh;*/
	z-index: -1;

	pointer-events: none;

	opacity: 0.0;
	visibility: hidden;
	-webkit-transition: visibility 0ms 600ms/*delay: 600mx*/, opacity 600ms cubic-bezier(0.77, 0, 0.175, 1);
	transition:         visibility 0ms 600ms, opacity 600ms cubic-bezier(0.77, 0, 0.175, 1);
}
div.fixed-background.visible {
	pointer-events: auto;

	opacity: 1.0;
	visibility: visible;
	-webkit-transition: opacity 600ms cubic-bezier(0.77, 0, 0.175, 1);
	transition:         opacity 600ms cubic-bezier(0.77, 0, 0.175, 1);
}

.leaflet-control-attribution.leaflet-control {
	top: 0.5em;
}




/* ------------ map SVGs: .tooltip, highlighted shapes; ------------ */




.municipalLayer .highlighted {
	stroke: #248;
	stroke-opacity: 0.7;
	stroke-width: 4.0;
}

.tooltip {
	position: fixed;
	display: none;

	text-align: center;
	width: auto;
	height: auto;
	top: 0px;
	left: 0px;
	padding: 6px 12px 6px 12px;
	margin-top: -12px;

	font-size: 10px; 
	font-family: 'Spoqa Han Sans', sans-serif;
	font-weight: 400;
	line-height: 1.4;
	color: #ffffff;
	background-color: rgba(40, 97, 177, 0.85);
	pointer-events: none;

	overflow: hidden;
	overflow-wrap: normal;
}

/* ------------ layout: background map setting ------------ */


#chapter-01-map, #chapter-03-map {
	overflow: hidden;
	width: 100%; /*100vw;*/
	height: 100%; /*100vh;*/
}

	.leaflet-container {
		background: rgba(221, 221, 221, 0.1);
	}

/* ------------ chapter 01: page 01-0, 01-1, 01-2 ------------ */

	#chapter-01 {
		padding-bottom: 100vh;
	}


	/* ------------ #chapter-01-map ------------ */


	.leaflet-interactive {
		cursor: default;
	}

	#chapter-01-map, #chapter-01-svg {
		position: absolute;
		top: 0px;
		left: 0px;
		line-height: 0;
	}
	#chapter-01-svg svg {
		width: 100%; 
		height: 100%; 
	}

	/* ------------ page 01-0: #site_title ------------ */

	#page-01-0 {
		height: 100vh;
		padding-top: 52vh;
	}

		#site_title {
			font-family: 'SunBatang';
			letter-spacing: -3px;
			font-size: 48px;
			font-weight: 700;
			line-height: 1.25;
			display: flex;

			max-width: 396px;
			margin-bottom: 6vh;
			/*padding: 16px 16px 15px 13px;*/

			background: transparent;
			border-radius: 4px;

			color: #000000;
			text-decoration: none;
		}
		@media all and (min-width:768px) and (min-aspect-ratio: 2/1), /* "iPhone X", widescreen aspect */ 
				all and (max-width:767px) { /* mobile phone */ 
			#site_title {
				font-size: 28px;
			}
		}
				#site_title_logo {
					width: 1.2em;
					height: 1.2em;
					margin: 0.05em 0.2em 0 0;
					cursor: pointer;
				}
					#site_title_logo img {
						height: 100%;
					}
				#site_title_text {
					/*padding: 0.1em 0 0 0;*/
					color: #000000;
					text-decoration: none;
					cursor: pointer;
				}

	/* ------------ page 01-1:  ------------ */




	/* ------------ page 01-2:  ------------ */

	#page-01-2 {
		height: 100vh;
		padding-top: 52vh;
		margin-bottom: 50vh;
	}

	/* ------------ page-01-3: ------------ */


	#single-orange-maps {
		width: 100%;

		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
		justify-content: space-between;

	}

		#single-orange-maps .layer-and-name {			
			width: 24%;
		}
			.layer-and-name img {
				width: 100%;
				margin-bottom: 32px;
			}

			.layer-and-name div.single-layer-name {
				font-family: 'Spoqa Han Sans', sans-serif;
				font-weight: 700;
				font-size: 0.6em;
				line-height: 1.4;
				text-align: center;

				margin-bottom: 12px;
				padding-left: 8%;
			}


	@media all and (max-width:630px) { /* mobile phone */ 
		#single-orange-maps {
			justify-content: center;
			flex-direction: row-reverse;
		}
			#single-orange-maps .layer-and-name {			
				width: 30%;
			}
				.layer-and-name div.single-layer-name {
					/*padding-left: 0%;*/
				}
	}




/* ------------ chapter 02: page 02-0 ~ 02-7 ------------ */


	/* ------------ layout: background -> #layer-names ------------ */


	#layer-names {
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: center;
		/*top: 0px;
		left: 0px;
		width: 100%;*/
		top: calc( (100vh - 8*(1.9*0.6em + 0.25em + 2px)) / 2 );
		left: 0px;
		width: 15vw;

		/*opacity: 0.0;
		visibility: hidden;
		-webkit-transition: visibility 0ms 600ms/, opacity 600ms cubic-bezier(0.77, 0, 0.175, 1);
		transition:         visibility 0ms 600ms, opacity 600ms cubic-bezier(0.77, 0, 0.175, 1);*/
	}
		/*#layer-names.visible {
			opacity: 1.0;
			visibility: visible;
			-webkit-transition: opacity 600ms cubic-bezier(0.77, 0, 0.175, 1);
			transition:         opacity 600ms cubic-bezier(0.77, 0, 0.175, 1);
		}*/
		#layer-names div {
			font-family: 'Spoqa Han Sans', sans-serif;
			font-weight: 400;
			font-size: 0.6em;
			text-align: center;
			color: #bbbbbb;

			background-color: transparent;

			/*width: 10px;
			height: 2em;
			flex-grow: 1;*/
			margin: 1px;
			padding: 0em 0.5em 0.25em 0.5em;
			width: auto;

			transition-property: background-color, color, transform;
			-webkit-transition: 600ms cubic-bezier(0.77, 0, 0.175, 1);
			transition:         600ms cubic-bezier(0.77, 0, 0.175, 1);
		}
			#layer-names div.red-background {
				background-color: hsla(0, 100%, 50%, 0.7);
				color: #ffffff;
				transform: translateX(85vw);
			}
			#layer-names div.orange-background {
				background-color: hsla(35, 100%, 50%, 0.65);
				color: #000000;
			}


	@media all and (max-width:768px) and (max-aspect-ratio: 1/1) { /* tablet portrait layout*/
		#layer-names {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			top: auto;
			bottom: 84vh;
			left: 6vw;
			width: 45vw;
		}
				#layer-names div.red-background {
					transform: translateX(46vw);
				}
	}

	@media all and (max-width:600px) and (max-aspect-ratio: 1/1) { /* "most of mobile phone" portrait layout */
		#layer-names {
			flex-direction: row-reverse;
			flex-wrap: wrap;
			justify-content: right;
			top: 4vw;
			bottom: auto;
			left: auto;
			right: 4vw;
			width: 240px;
		}
				#layer-names div.red-background {
					transform: none;
				}
	}

	/* ------------ #chapter-02-background ------------ */

	#chapter-02-background {
		display: flex;
		align-items: center;
		justify-content: space-between;

		width: /*100%;*/ 100vw;
		padding-left: /*12%;*/ 12vw;
		padding-right: /*14%;*/ 14vw;
	}

		#chapter-02-svg-orange, #chapter-02-svg-red {
			width: /*35%;*/ 35vw;
			height: 80vh;
			margin-top: 2vh;
			line-height: 0;
		}
			#chapter-02-svg-orange svg, #chapter-02-svg-red svg {
				width: 100%; 
				height: 100%; 

				overflow: visible;
			}

			/* ------------ #chapter-02-background > #chapter-02-svg-orange, #chapter-02-svg-red control. ------------ */

			#chapter-02-background g.municipalLayer .active-shape {
				visibility: visible;
				-webkit-transition: visibility 0ms 400ms/*delay = 400ms*/, transform 400ms cubic-bezier(0.77, 0, 0.175, 1);
				transition:         visibility 0ms 400ms, transform 400ms cubic-bezier(0.77, 0, 0.175, 1);
			}
				#chapter-02-background g.municipalLayer .active-shape.visibility-noDelay {
					-webkit-transition: visibility 0ms 0ms, transform 400ms cubic-bezier(0.77, 0, 0.175, 1);
					transition:         visibility 0ms 0ms, transform 400ms cubic-bezier(0.77, 0, 0.175, 1);
				}
				#chapter-02-background g.municipalLayer .active-shape.transparent-shape {
					visibility: hidden;
				}
				#chapter-02-background g.municipalLayer .active-shape.transform-toRight-shape {
					transform: translateX(calc( (100 - 12 - 14 - 35)/35 * 377px ));
				}

			#chapter-02-background g.municipalLayer.transparent-layer, #chapter-02-background g#dummy_not-active-shape.transparent-layer {
				visibility: hidden;
			}


	@media all and (max-width:1024px) and (min-width:601px) and (max-aspect-ratio: 1/1) { /* tablet portrait layout */
		#chapter-02-background {
			width: /*100%;*/ 100vw;
			padding-left: /*4%;*/ 4vw;
			padding-right: /*5%;*/ 5vw;
		}
			#chapter-02-svg-orange, #chapter-02-svg-red {
				width: /*45%;*/ 45vw;
			}

				#chapter-02-background g.municipalLayer .active-shape.transform-toRight-shape {
					transform: translateX(calc( 46/45 * 377px ));
				}
	}

	@media all and (max-width:600px) and (max-aspect-ratio: 1/1) { /* "most of mobile phone" portrait layout */
		#chapter-02-background {
			display: inline;

			width: /*100%;*/ 100vw;
			height: 150vw;
			padding-left: 0;
			padding-right: 0;
			left: 0;
			top: calc( 10vw + (100vh - 150vw) / 2);
		}
			#chapter-02-svg-orange, #chapter-02-svg-red {
				position: absolute;
				/*width: calc( 50vh * 377/611 );*/
				width: 58vw;
				height: calc( 58vw * 611/377 );
				margin-top: 0;
			}
			#chapter-02-svg-orange {
				top: 0;
				left: 0;
				z-index: 1;
			}
			#chapter-02-svg-red {
				bottom: 0;
				right: 0;
				z-index: 0;
			}
				#chapter-02-background g.municipalLayer .active-shape.transform-toRight-shape {
					transform: translateY(calc( (150 - 58*611/377)/58 * 377px )) translateX(calc( 42/58 * 377px ));
				}
	}

	/* ------------ #chapter-02 div.page ------------ */

	#chapter-02 div.page {
		padding-top: 25vh;
		padding-bottom: 100vh;
	}

		#chapter-02 div.page#page-02-7 {
			padding-bottom: 50vh;
		}




/* ------------ chapter 03: page 03-0 ~ 03-6 ------------ */

	#chapter-03 {
		margin-bottom: 0;
	}


	/* ------------ #chapter-03-background > #chapter-03-map, #chapter-03-svg ------------ */

	#chapter-03-map, #chapter-03-svg {
		position: absolute;
		top: 0px;
		left: 0px;
		line-height: 0;
	}
	#chapter-03-svg svg {
		width: 100%; 
		height: 100%; 
	}
		/* ------------ #chapter-03-svg control. ------------ */

		#chapter-03-svg g.municipalLayer .non-active-shape {
			pointer-events: none;
		}

		#chapter-03-svg g.municipalLayer .active-shape {
			opacity: 1.0;
			-webkit-transition: opacity 400ms cubic-bezier(0.77, 0, 0.175, 1);
			transition:         opacity 400ms cubic-bezier(0.77, 0, 0.175, 1);
		}
			#chapter-03-svg g.municipalLayer .active-shape.transparent-shape {
				opacity: 0.0;
				pointer-events: none;
			}


	/* ------------ page 03-layerMoving  ------------ */

	#page-03-layerMoving {
		padding-top: 25vh;
		padding-bottom: 25vh;
	}

	/* ------------ page 03-0 ~ 03-4  ------------ */

	#page-03-0, #page-03-1, #page-03-2, #page-03-3, #page-03-4, #page-03-5 {
		height: 100vh;
		margin-bottom: 52vh;
	}

	#page-03-6 {
		margin-bottom: 40vh;
	}